name: main
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.6
      - run: |
          haxelib install lime
          haxelib install openfl
          haxelib install flixel 4.11.0
          haxelib install flixel-tools
          haxelib install flixel-ui 2.4.0
          haxelib install flixel-addons 2.11.0
          haxelib install newgrounds 1.3.0
          haxelib install hscript
          haxelib git faxe https://github.com/ashea-code/faxe
          haxelib git hxcpp https://github.com/HaxeFoundation/hxcpp
          haxelib git linc_luajit https://github.com/superpowers04/linc_luajit
          haxelib git polymod https://github.com/swordcube/scriptless-polymod
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc
          haxelib git extension-androidtools https://github.com/LimeExtensions/extension-androidtools
      #haxelib install hxcpp-debug-server
      - name: android run
        run: |
          haxelib run lime rebuild hxcpp
          haxelib run lime config ANDROID_SDK $ANDROID_HOME
          haxelib run lime config ANDROID_NDK_ROOT $ANDROID_NDK_LATEST_HOME
          haxelib run lime config JAVA_HOME $JAVA_HOME_17_X64
          haxelib run lime config ANDROID_SETUP true
      - run: haxelib run lime build android
      - uses: actions/upload-artifact@main
        with:
          name: push
          path: export/release/android/bin/app/build/outputs/apk/debug
